<a class="btn" href="/posts">投稿一覧へ戻る</a>
<% if user_signed_in? && @post.id == current_user.id %>
  <li><%= link_to '消去', "/posts/#{@post.id}", method: :delete %></li>
  <li><%= link_to '編集', "/posts/#{@post.id}/edit", method: :get %></li>
<% end %>
<h3>詳細</h3>
  <p>投稿者<%= @post.user.nickname %>
  <p>title:<%= @post.text %></p>
  <img src="<%= @post.image %>">
  <p><%= @post.text %></p>
<% if current_user %>
 <%= form_tag("/posts/#{@post.id}/comments", method: :post) do %>
  <textarea cols="30" name="text" placehodler="コメントを記入してください" rows="2"></textarea>
  <input type="submit" value="SENT">
 <% end %>
<% end %>
<div class="comments">
  <% if @comments %>
    <% @comments.each do |comment| %>
    <p>
      <%= comment.user.nickname %>
      <%= comment.text %>
    </p>
    <% end %>
 <% end %>
</div>